* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f8f2;
  color: #333;
}

.hero {
  background: url('img/fazenda.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items:baseline;
  justify-content: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 100, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  background: #fff;
  color: #006400;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.features {
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #eafbea;
  border: 1px solid #b5e4b5;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

footer {
  background: #006400;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

